{% extends  'index.html'   %}
{% block content %}
{% load static %}
<style>
p{
font-family: Poppins, sans-serif;
    font-size: 16px;
    text-align: justify;
}
</style>
	<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major" style="margin-bottom:4%">
							<h2 style="
    font-size: 28px;
    font-family: Poppins, sans-serif;
    font-weight: 500;">Sonakshi Aggarwal & Company Chartered Accountants</h2>
							<p style="font-family: Poppins,sans-serif;
    font-size: 15px;
    text-align: center;	">Sonakshi Aggarwal & Company Chartered Accountants registered with the institute of Chartered Accountants of India in 2018. We are based at National Capital Region.</p>
						</header>
						<div class="row gtr-150">
							<div class="col-8 col-12-medium">

								<!-- Content -->
									<section id="content">
										<a href="#" class="image fit"><img src="{% static 'ca-about-us.jpg' %}" alt="" /></a>
										<h3>About Us</h3>
										<p>We provide professional services related to assurance, company law, secretarial, taxation, accounting, payroll management and business consultancy to a large number of clients including Multinational Companies.We are based at National Capital Region. Our clients can have access to the expertise and experience of highly qualified professionals who have specialization in different areas of work.</p>
										<p>Sonakshi Aggarwal & Company Chartered Accountants registered with the institute of Chartered Accountants of India in 2018. We are based at National Capital Region.</p>
										<p>We provide all sort of chartered accountant services related to Income tax, Management information system, Service tax, International Taxations, VAT, Auditing, Company law / Secretarial services, Accounting and Project financing etc. We believe to stay ahead in the vibrant changing world to provide you the most consistent and prompt quality services.</p>
										<h3>Company Profile</h3>
										<p>We construct stable relationship with client by providing the most cost efficient & highly professional services. Sonakshi Aggarwal & Company Chartered Accountants registered with the institute Institute of Chartered Accountants of India in 2018. We are based at National Capital Region. We provide all sort of chartered accountant services. related to Income tax, Management information system, Service tax, International Taxations, VAT, Auditing, Company law Secretarial services, Accounting and Project financing etc.</p>
										<p>We believe to stay ahead in the vibrant changing world to provide you the most consistent and prompt quality services. Sonakshi Aggarwal & Company have been dedicated to provide services to Clients since 2018. Our Vision is to provide paramount solution in matter of accounting, taxation, audit, finance & management consultancy.</p>
										<h3>Our Service Philosophy</h3>
										<ul>
											<li>construct stable relationship with client by providing the most cost efficient & highly professional services.</li>
											<li> To provide a comprehensive range of services.</li>
											<li>To emphasize on technical excellence, practicality and quality.</li>
											<li>To staff each engagement with an expert team.</li>
											<li>To provide focused and issue-based advice.</li>
											<li>To maintain the highest standards of professional ethics: Independence, Integrity and Objectivity</li>
										</ul>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<section id="sidebar">
										<section style="">
											<h3>Our Key Philosophy</h3>
											<p>Our guiding philosophy is to carry out every professional assignment effectively and efficiently, while upholding the virtues of independence and integrity, without compromising on the creativity and quality of work, so as to provide utmost satisfaction to our clients.</p>
											
										</section>
										<hr style="    margin-top: 19%;
    margin-bottom: 20%;">
										<section>
											<a href="#" class="image fit"><img src="{% static 'ca-visiojn.jpg' %}" alt="" /></a>
											<h3 style="margin-top: 14%;">Our Vision</h3>
											<p>Our Vision is to provide paramount solution in matter of accounting, taxation, audit, finance & management consultancy. We constantly strive for brilliance in all connected actions by ensuring the quality standards. We construct stable relationship with client by providing the most cost efficient & highly professional services. We always believe in satisfying our customer with our world class services.</p>
<p>Our Vision is to provide paramount solution in matter of accounting, taxation, audit, finance & management consultancy. We constantly strive for brilliance in all connected actions by ensuring the quality standards.</p>
<hr style="    margin-top: 20%;
    margin-bottom: 20%;">
<h3>Values We Follow </h3>
										
										<ul>
											<li>Honesty, Integrity and Ethics.</li>
											<li>Teamwork in an Atmosphere of Mutual Respect.</li>
											<li>Employ Talented, Caring and Responsible People.</li>
											<li>Develop leaders for the growth and health of our Company.</li>
											<li>Provide an Enjoyable Work Environment</li>
										</ul>

										</section>
									</section>

							</div>
						</div>
					</div>
				</div>

{% endblock%}
