{% extends  'index.html'   %}
{% block content %}
{% load static %}
<style>
li{
     text-align: justify;
    font-size: 16px;
    font-family: Poppins,sans-serif;
    font-weight: 200;
}
h3 {
    text-align: justify;
    font-size: 21px;
    font-family: Poppins,sans-serif;
    font-weight: bold;
}
.icon.major {
right: 21%;-
}
ul {
    list-style: none;
}
.fa-check-double:before {
    content: "\f560";
    padding-right: 15px;
}
.services-icons{
  padding-left: 0px !important;
}
</style>

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Services We Offer</h2>
							<p>Our services related to assurance, company law, secretarial, taxation, accounting & etc.</p>
						</header>
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-chart-area"></span>
									 <h3>Assurance & Risk adivsory</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Statutory Audits.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Internal Audits.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Stock Audit.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Tax Audit</li>
                                                        </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3> Accounting and Payroll</h3>
							   <ul>
                                                            <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Book-keeping and accounting.</li>
                                                            <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Consolidation of accounts.</li>
                                                            <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Preparation of financial statements.</li>
                                                            <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Payroll processing and related matters.</li>
                                                        </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
							<h3>Transaction structuring</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Structuring.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Spin-offs & de-mergers.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Business sale.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Joint Ventures.</li>
                                                        </ul>

								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
							   <h3>Taxation - Direct Taxes -Tax Advisory</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Tax planning for reducing fiscal costs.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Corporate tax related advice on day-to-day queries.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Transfer pricing study.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Implications of transfer pricing and other laws on cross border transactions.</li>
<li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i> Tax and regulatory due diligence reviews.</li>
<li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Structuring tax efficient compensation packages of personnel for expats & locals.</li>
</ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
							   <h3>Management Assurance Service</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i> Due Diligence Reviews.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Business System Studies.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i> Management Information Systems.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Budgetary Control Systems.</li>
<li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Preparation of project reports.</li>
<li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Preparation of Feasibility Analysis.</li>
                                                        </ul>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
							   <h3>Taxation - Direct Taxes -Tax Compliance</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Assistance on timely compliance based on the prevailing tax laws.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Review, representation, submissions and strategic tax advice during assessments/appeals with the revenue authorities.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Withholding tax compliance.</li>
                                                        </ul>
								</section>
  								<section class="col-4 col-6-medium col-12-xsmall">
                                                                <span class="icon solid alt major fa-lock"></span>
                                                           <h3> Taxation - Indirect Tax Services</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Identify tax planning opportunities to minimize the impact of indirect tax costs.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Registration, filing of returns, assessments/appeals, classification under relevant laws.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Review and analysis of the existing systems so as to streamline day-to-day operations.</li>
                                                        </ul>
                                                                </section>
  								<section class="col-4 col-6-medium col-12-xsmall">
                                                                        <span class="icon solid alt major fa-lock"></span>
                                                           <h3>Company Law & Secretarial Matters</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Advice on Corporate and allied laws.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Assistance on timely compliance based on the requirements of the prevailing laws.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i> Matters related to Company formation, registration, approvals, clearances and certification under the relevant laws.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Secretarial compliance.</li>
                                                        </ul>
                                                                </section>
 									<section class="col-4 col-6-medium col-12-xsmall">
                                                                        <span class="icon solid alt major fa-lock"></span>
                                                           <h3> Foreign investment Consulting</h3>
                                                        <ul>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Advice regarding compliance with the provisions of Foreign Exchange Management Act.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Drafting applications and securing appropriate regulatory approvals, certification etc.</li>
                                                        <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Structuring Foreign Direct Investment (FDI) involving regulatory approvals.</li>
                                                       <li class="services-icons"><i class="fa-solid fa-check-double" style="color: #ffffff;"></i>Tax Audit</li>
                                                        </ul>
                                                                </section>
							</div>
						</div>
						
					</div>
				</section>
			</div>
		</div>

		
{% endblock%}
